ELASTIC_URL=http://127.0.0.1:9200
INDEX_NAME=sochi_docs

BASE_URL=https://sochi.ru
SITEMAP_URL=https://sochi.ru/sitemap.xml

APP_HOST=0.0.0.0
APP_PORT=18083

REQUEST_TIMEOUT=30
CRAWL_LIMIT=50000
CHUNK_SIZE=1800
CHUNK_OVERLAP=200


USER_AGENT=SochiKnowledgeBot/1.0 (+internal search)
